
@{
    ViewData["Title"] = "CompleteForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
			<div class="agileits-top">
				<p> Passowrd Reset Link has been Sent To Your Email. Please check your inbox :)</P>
					<a class="btn btn-primary" target="_blank" href = "https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">Your Inbox</a>
				</div>
		</div>


